<h2> All previous orders </h2>
<% @orders.each do |order| %>
   <div>
  <%= order.user.name %> £<%= order.total_price %>
   <% order.ice_creams.each do |icecream| %>
    <%= icecream.flavor%> 
    <%end%> 
   </div>
<% end %>