<h2> All previous orders </h2>
<% @orders.each do |order| %>
   <div>
  <h2> <%= order.user.name %> enjoyed </h2>
   <% order.ice_creams.each do |icecream| %>
    <li> <%= icecream.flavor%> </li> 
    <%end%> 
   </div>
<% end %>