<h2> All of your previous orders </h2>
<% @my_orders.each do |order| %>
   <div>
   £<%= order.total_price %>
   <% order.ice_creams.each do |icecream| %>
   <%= icecream.flavor%>
   <%end%>

   </div>
<% end %>



